[submodule "default/packages/snapkg"]
	path = default/packages/snapkg
	url = https://github.com/Snapkg/snapkg
[submodule "js/packages/websockets"]
	path = js/packages/websockets
	url = https://github.com/Snapkg/websockets
